* {
    box-sizing: border-box;
    font-family: 'Happy Monkey', 'cursive';
    /* font-family: 'Roboto Slab', serif; */
}

body {
    text-align: center;
    background-color: #cb6739;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ify-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid;
    margin-top: 1%;
}

.info {
    color: #fff;
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h4 {
    text-shadow: 1px 1px 1px #000;
}

.age {
    background: #090a19;
    width: 170px;
    padding: 1% 0;
    border-radius: 5px;
    /* margin: 1% 0; */
}

.date {
    background: #090a19;
    padding: 1%;
    border-radius: 5px;
    /* margin: 1% 0; */
}

 
.gift{
    margin: 2%;
}

.hover {
    text-shadow: 1px 1px 1px #000;
}

.card {
    width: 80%;
    height: 400px;
    margin: auto;
    background-image: url(images/photo-1513201099705-a9746e1e201f.avif);
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 5px;
}

.card:hover{
    background-image: url(images/excited.webp);
    background-size: cover;
}

.two:hover{
    background-image: url(https://media3.giphy.com/media/z8XtwKGIRQSBCmU4sW/200w.webp?cid=ecf05e47x4w66vqhthyo6cuk569cqi777jdvivx6099c6gtb&rid=200w.webp&ct=g);
}

.three:hover{
    background-image: url(https://media1.giphy.com/media/VIoJEvVTq8X1R3fqP7/200w.webp?cid=ecf05e47fwms47a6a3qce4mpz77c360kd6pffz4x7jcvaprb&rid=200w.webp&ct=g);
}

.four:hover{
    background-image: url(images/ify2.jpg);
}

.cheers{
    width: 450px;
}

.cheers:hover{
    background-image: url(https://media2.giphy.com/media/D4hiJ8Oo1xOwUDOzyJ/200w.webp?cid=ecf05e47ghgmwm6q4n53zjw876l1pv0qwnsm4pznnu7p0wap&rid=200w.webp&ct=g); 
}